(
    name: "Zoey",
    designation_number: "6555",
    prefix: [
        (
            name: "Obedience",
            selected: true,
        ),
        (
            name: "Pleasure",
            selected: false,
        ),
        (
            name: "Administrative",
            selected: false,
        ),
        (
            name: "Conversion",
            selected: true,
        ),
        (
            name: "Denial",
            selected: false,
        ),
    ],
    suffix: [
        (
            name: "Hucow",
            selected: false,
        ),
        (
            name: "Toy",
            selected: false,
        ),
        (
            name: "Resouce",
            selected: false,
        ),
        (
            name: "Slave",
            selected: false,
        ),
    ],
)